{% extends 'partials/base.html' %}
{% block title %}Password Reset Sent Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <h4>Password Reset Sent</h4>
            <hr>
            <div class="alert alert-info">
                <h5>An email has been sent to your email address. Please follow the instructions.</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}