<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Wang Lab</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			{% if user.is_authenticated %}
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a
						class="nav-link active"
						aria-current="page"
						href="{% url 'dashboard-index' %}"
						>Home</a
					>
				</li>
			</ul>
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="#">{{ user.username }} Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" , href="{% url 'user-logout' %}">Log out</a>
				</li>
			</ul>
			{% else %}
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'user-register' %}">Register</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" , href="{% url 'user-login' %}">Sign In</a>
				</li>
			</ul>
			{% endif %}
		</div>
	</div>
</nav>
