{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Inventory{% endblock %}

{% block content %}
{% include 'partials/topnav.html' %}
{% block head %}
    <style>
        th {
            font-size: 16px ;
        }
        td {
            font-size: 14px;
        }
        .button-right-margin{
            margin-right: 20px;
        }
    </style>
    <script>
        function confirmationDelete(event, pk){
            event.preventDefault(); // prevnet the form from submitting
            const result = confirm ('Are you sure to delet this item?');
            if (result){
                document.getElementById(pk).submit();
            }
        }
    </script>
{% endblock %}
<div class="row my-4">
    <div class="col-md-4" style="margin: 20px;">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="card card-body">
            <h5>Add New Products</h5>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success btn-block" type="submit" value="Add">
            </form>
        </div>
    </div>
    <div class="col-md-7" style="margin-left: 10px; margin-right:20px; margin-top: 20px;">
        <table class="table bg-white table-striped table-hover table-bordered align-middle">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Storage</th>
                    <th scope="col">Activity</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.storage }}</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <a class="btn btn-info btn-sm button-right-margin"
                                href="{% url 'dashboard-product-detail' item.id %}">View</a>
                            <form id = 'delete-form-{{ item.id }}' method="POST" action="{% url 'dashboard-product-delete' item.id %}">
                                {% csrf_token %} 
                                <button class="btn btn-danger btn-sm" type ='button' onclick = "confirmationDelete(event,'delete-form-{{ item.id }}')">Delete</button>
                            </form>
                        </div>  
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}