{% extends 'partials/base.html' %}
{% block title %}Product Update{% endblock %}
{% load crispy_forms_tags %}
{% block head %}
<style>
    .card-wrapper {
        display: flex;
        width:100%;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 100px;
    }
    .product-detail-card {
        width: 50%;
    }
    .product-info-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
   
</style>

{% endblock %}
{% block content %}
<div class="card-wrapper">
    <div class="card product-detail-card">
        <div class="card-header bg-info text-white">
            Product Update
        </div>
        <div class="row p-3">
            <div class="col-md-10">
                <form method = 'POST'> 
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input class="btn btn-info" type="submit" value="Update">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}